<div class=" ui five stackable cards">
    <a class=" ui red card">
        <div class="ui inverted segment">
            <h3> ${_station.name} <i class=" right floated large map marked alternate icon"></i></h3>
        </div>
        <span class="ui black text">
        <h2>Lat: ${_station.lat} </h2>
        <h2>Lng: ${_station.lng} </h2>
        </span>
    </a>

    <a class=" ui red card">
        <div class="ui inverted black segment">
            <h3 class="header">Weather <i class="right floated large ${_station.weatherIcon}"></i></h3>
        </div>
        <span class="ui black text">
        <h2> ${_station.weatherCode}</h2>
        </span>
    </a>

    <a class=" ui red card">
        <div class="ui inverted segment">
            <h3 class="header">Temp
                <i class="right floated large ${_station.temperatureTrends}"></i>
                <i class="right floated large temperature high icon"></i>
            </h3>
        </div>
        <span class="ui black text">
        <h4>${_station.latestConditionTemperatureC}°C</h4>
        <h4>${_station.latestConditionTemperatureF}°F</h4>
        <h4>Min: ${_station.minTemperature}°C</h4>
        <h4>Max: ${_station.maxTemperature}°C</h4>
        </span>
    </a>

    <a class=" ui red card">
        <div class="ui inverted segment">
            <h3 class="header">Wind
                <i class="right floated large ${_station.windSpeedTrends}"></i>
                <i class="right floated large wind icon"></i>
            </h3>
        </div>
        <span class="ui black text">
        <h4> latest Beaufort: ${_station.beaufort}</h4>
        <h4> latest Direction: ${_station.compass}</h4>
        <h4> Feels like: ${_station.windChill}</h4>
        <h4> Min: ${_station.minWindSpeed} C</h4>
        <h4> Max: ${_station.maxWindSpeed}</h4>
        </span>
    </a>

    <a class=" ui red card">
        <div class="ui inverted segment">
            <h3 class="header">Pressure
                <i class="right floated large ${_station.pressureTrends}"></i>
                <i class="right floated large compress arrows alternate icon"></i>
            </h3>
        </div>
        <span class="ui black text">
        <h4> latest Pressure: ${_station.latestConditionPressure} hPa</h4>
        <h4> Min: ${_station.minPressure} hPa</h4>
        <h4> Max Pressure: ${_station.maxPressure}</h4>
        </span>
    </a>
</div>


