#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}
<section class="ui center aligned middle aligned segment">
    <div class="ui right floated segment">
        <img class="medium ui image" src="/public/images/SeaOne.JPG">
        </p></div>
    <div class="ui left floated segment">
        <img class="medium ui image" src="/public/images/DarkSea.JPG">
    </div>

    <h3>
        WeatherTop is an web application designed for the amateur meteorologist.
    </h3>
    <p>
        A simple design, it allows you to enter in details such as:
    <ul>
        <li>Weather Codes</li>
        <li>Temperature</li>
        <li>Wind Speed</li>
        <li>Pressure</li>
        <li>Wind Direction</li>
    </ul>
    <br>
    <br>
    <br>
    It then can perform calculations on the inputs and display the latest details in a quick and easy to read format
    <br>
    <br>
    <br>
    It also allows you to create new stations and locations for the meteorologist on the go.
    <br>
    You know, if you want to chase tornados around Oklahoma after you saw Bill Paxton doing it
    <br>
    <br>
    <br>
    </p>
</section>
